/**
 * @name Mynt
 * @author KiCK
 * @authorId 634168893644210186
 * @website https://github.com/kckarnige/mynt-theme
 * @authorLink https://github.com/kckarnige
 * @version 1.3.0
 * @description A theme so clean, it makes your pearly whites look filthy in comparison.
 * @donate https://ko-fi.com/kckarnige
 * @updateUrl https://raw.githubusercontent.com/kckarnige/mynt-theme/main/mynt.theme.css
*/
@import url("https://raw.githubusercontent.com/kckarnige/mynt-theme/refs/heads/main/src/source.css");
@import url("https://raw.githubusercontent.com/kckarnige/mynt-theme/refs/heads/main/src/helpbgone.css");

:root {
    --home-icon: var(--legacyMobile) !important; /* --default, --classic, --legacyMobile */
    
    --accentcolor: 111, 219, 129 !important; /* Default 111, 219, 129: */

	--settingsmodalbackground: transparent;
	--settingsmodalwidth: 960px;
	--settingsmodalheight: 80vh;
}

* {
    /* Font */
    --font-display: 'DM Sans', sans-serif !important;
    --font-primary: 'DM Sans', sans-serif !important;
    --font-headline: 'DM Sans', sans-serif !important;
}
