@import url('https://discord-extensions.github.io/modern-indicators/src/source.css');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@300;400;500;600;700&display=swap');
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/BlurpleRecolor/BlurpleRecolor.css");
@import url("https://mwittrien.github.io/BetterDiscordAddons/Themes/SettingsModal/SettingsModal.css");

.theme-light {
    --indicator-unread: 0, calc(var(--mod-saturation-factor, 1) * 0%), 0%;
    --indicator-selected: var(--mod-hue-factor), calc(var(--mod-saturation-factor, 1) * 86%), 65%;
    --indicator-connected: 139, calc(var(--mod-saturation-factor, 1) * 47.6%), 48.6%;
    --indicator-hovered: hsla(var(--indicator-unread), 0.08);
    --text-active: black;
}
.theme-dark {
    --indicator-unread: 0, calc(var(--mod-saturation-factor, 1) * 0%), 100%;
    --indicator-selected: var(--mod-hue-factor), calc(var(--mod-saturation-factor, 1) * 86%), 65%;
    --indicator-connected: 139, calc(var(--mod-saturation-factor, 1) * 86%), 65%;
    --indicator-hovered: hsla(var(--indicator-unread), 0.045);
    --text-active: white;
}

:root {
    --primary-600: var(--background-primary);
    --home-background: var(--background-primary);
    --classic: path("M 20.6644 20 C 20.6644 20 19.8014 18.9762 19.0822 18.0714 C 22.2226 17.1905 23.4212 15.2381 23.4212 15.2381 C 22.4384 15.881 21.5034 16.3334 20.6644 16.6429 C 19.4658 17.1429 18.3151 17.4762 17.1884 17.6667 C 14.887 18.0953 12.7774 17.9762 10.9795 17.6429 C 9.61301 17.381 8.43836 17 7.45548 16.6191 C 6.90411 16.4048 6.30479 16.1429 5.70548 15.8096 C 5.63356 15.7619 5.56164 15.7381 5.48973 15.6905 C 5.44178 15.6667 5.41781 15.6429 5.39384 15.6191 C 4.96233 15.381 4.7226 15.2143 4.7226 15.2143 C 4.7226 15.2143 5.87329 17.1191 8.91781 18.0238 C 8.19863 18.9286 7.31164 20 7.31164 20 C 2.0137 19.8333 0 16.381 0 16.381 C 0 8.7144 3.45205 2.50017 3.45205 2.50017 C 6.90411 -0.07123 10.1884 0.000197861 10.1884 0.000197861 L 10.4281 0.285909 C 6.11301 1.52399 4.12329 3.40493 4.12329 3.40493 C 4.12329 3.40493 4.65068 3.11921 5.53767 2.71446 C 8.10274 1.59542 10.1404 1.2859 10.9795 1.21447 C 11.1233 1.19066 11.2432 1.16685 11.387 1.16685 C 12.8493 0.976379 14.5034 0.92876 16.2295 1.11923 C 18.5068 1.38114 20.9521 2.0478 23.4452 3.40493 C 23.4452 3.40493 21.5514 1.61923 17.476 0.381146 L 17.8116 0.000197861 C 17.8116 0.000197861 21.0959 -0.07123 24.5479 2.50017 C 24.5479 2.50017 28 8.7144 28 16.381 C 28 16.381 25.9623 19.8333 20.6644 20 Z M 9.51712 8.88106 C 8.15068 8.88106 7.07192 10.0715 7.07192 11.5239 C 7.07192 12.9763 8.17466 14.1667 9.51712 14.1667 C 10.8836 14.1667 11.9623 12.9763 11.9623 11.5239 C 11.9863 10.0715 10.8836 8.88106 9.51712 8.88106 Z M 18.2671 8.88106 C 16.9007 8.88106 15.8219 10.0715 15.8219 11.5239 C 15.8219 12.9763 16.9247 14.1667 18.2671 14.1667 C 19.6336 14.1667 20.7123 12.9763 20.7123 11.5239 C 20.7123 10.0715 19.6336 8.88106 18.2671 8.88106 Z");
    --default: path("M 23.0212 1.67671 C 21.3107 0.879656 19.5079 0.318797 17.6584 0 C 17.4062 0.461742 17.1749 0.934541 16.9708 1.4184 C 15.003 1.12145 12.9974 1.12145 11.0283 1.4184 C 10.819 0.934541 10.589 0.461744 10.3368 0.00546311 C 8.48074 0.324393 6.67795 0.885118 4.96746 1.68231 C 1.56727 6.77853 0.649666 11.7538 1.11108 16.652 C 3.10102 18.1418 5.3262 19.2743 7.69177 20 C 8.22338 19.2743 8.69519 18.4993 9.09812 17.691 C 8.32996 17.3997 7.58522 17.0424 6.87684 16.6135 C 7.06531 16.4762 7.24726 16.3387 7.42403 16.1847 C 11.5911 18.1749 16.408 18.1749 20.5763 16.1847 C 20.7531 16.3332 20.9351 16.4762 21.1171 16.6135 C 20.41 17.0369 19.6639 17.3997 18.897 17.691 C 19.3052 18.4993 19.7718 19.2689 20.3021 19.9945 C 22.6677 19.2689 24.8929 18.1364 26.8828 16.6466 H 26.8893 C 27.43 10.9731 25.9665 6.04728 23.0212 1.67671 Z M 9.68041 13.6383 C 8.39754 13.6383 7.34085 12.4453 7.34085 10.994 C 7.34085 9.54272 8.37155 8.34973 9.68041 8.34973 C 10.9893 8.34973 12.0395 9.54272 12.0187 10.994 C 12.0187 12.4453 10.9828 13.6383 9.68041 13.6383 Z M 18.3161 13.6383 C 17.0332 13.6383 15.9765 12.4453 15.9765 10.994 C 15.9765 9.54272 17.0124 8.34973 18.3161 8.34973 C 19.6184 8.34973 20.6751 9.54272 20.6543 10.994 C 20.6543 12.4453 19.6184 13.6383 18.3161 13.6383 Z");
    --legacyMobile: path("M 14 20 c -4.8 0.1 -7.2 -0.9 -5.7 -4.9 c 0.1 -0.3 0.4 -0.7 3.2 -1.8 c -2.8 -2.3 -2.4 -10.6 2.5 -10.2 c 4.9 -0.4 5.2 7.9 2.4 10.2 c 4.5 1.7 3 1.7 3.6 4.6 c -0.5 1.9 -2.7 2 -6 2.1 Z m 0 -1.4 c 3.6 0 4.4 -0.7 4.6 -0.8 c -0.1 -0.8 -0.2 -1.7 -0.3 -2 c -0.3 -0.2 -2.6 -1.3 -3.9 -1.5 v -1.4 c 2.9 -0.6 3.6 -8.4 -0.3 -8.4 c -4.2 -0.2 -3.4 7.8 -0.4 8.4 l -0.1 1.4 c -1.3 0.2 -3.5 1.3 -3.9 1.5 c -0.1 0.3 -0.2 1.2 -0.2 2 c 0.1 0.1 0.9 0.8 4.5 0.8 Z m 11 -2.6 c -0.6 0.6 -1.8 1.1 -3.6 1.2 c 0 -0.6 -0.1 -1 -0.1 -1.5 c 2 -0.1 2.5 -0.5 2.7 -0.7 c 0.2 -2.8 -1.7 -2.3 -4.2 -3.5 v -1.4 c 4.1 -1.1 2.5 -11.8 -2.3 -7.4 c -0.5 -0.3 -0.9 -0.5 -1.4 -0.7 c 5.7 -5.8 10.2 4.6 5.7 8.6 c 2.9 1.1 3.2 1.6 3.3 1.8 c 0.2 1.3 0.9 2.6 -0.1 3.6 Z m -18.3 -0.1 c 0 0.5 -0.1 0.9 -0.1 1.4 c -4 0 -4.6 -1.7 -3.7 -4.8 c 0.1 -0.2 0.4 -0.8 3.2 -1.8 c -4.5 -4 -0.1 -14.4 5.8 -8.6 c -0.6 0.1 -1 0.4 -1.3 0.7 c -4.9 -4.4 -6.8 6.4 -2.4 7.4 l -0.1 1.4 c -1.3 0.3 -3.5 1.3 -3.9 1.5 c -0.1 0.3 -0.2 1.2 -0.3 2 c 0.2 0.1 0.7 0.5 2.8 0.8 Z");
    --home-icon: var(--legacyMobile);
    --accentcolor: 111, 219, 129;
    --mod-saturation-factor: 0.7;
    --mod-hue-factor: 130;
    
    --indicator-border-size: 2px;
    --indicator-border-style: solid;
    --indicator-rounding: 0;

    --item-selected-icon: hsl(var(--indicator-selected));
    --item-selected-indicator: hsl(var(--indicator-selected));
    --item-selected-background: hsla(var(--indicator-selected), 0.1);
    --item-selected-background-hover: hsla(var(--indicator-selected), 0.2);

    --item-connected-icon: hsl(var(--indicator-connected));
    --item-connected-indicator: hsl(var(--indicator-connected));
    --item-connected-background: hsl(var(--indicator-connected), 0.1);
    --item-connected-background-hover: hsl(var(--indicator-connected), 0.2);

    --item-unread-icon: hsl(var(--indicator-unread));
    --item-unread-indicator: hsl(var(--indicator-unread), 0.5);
    --item-unread-background: hsl(var(--indicator-unread), 0.025);
    --item-unread-background-hover: hsl(var(--indicator-unread), 0.045);

    /* ---- For the settings page -- */
    --indicator-border-info: 2px solid;

    --indicator-selected: var(--mod-hue-factor), calc(var(--mod-saturation-factor, 1) * 85.6%), 64.7%;
    --indicator-selected-border: hsl(var(--indicator-selected));
    --indicator-selected-background: hsla(var(--indicator-selected), 0.1);
    --indicator-selected-text: var(--mod-hue-factor), calc(var(--mod-saturation-factor, 1) * 86.2%), 88.6%;

    --indicator-unread: 255, 255, 255;
    --indicator-unread-border: rgba(var(--indicator-unread), 0.6);
}

[class*="selected_"]>[data-list-item-id="guildsnav___home"]>[class*="childWrapper_"] {
    background-color: var(--brand-500) !important;
}
[data-list-item-id="guildsnav___home"]>[class*="childWrapper_"]>svg {
    height: 24px;
    width: 28px;
    transform: translate(-2px, 2px) !important;
}
[data-list-item-id="guildsnav___home"]>[class*="childWrapper_"]>svg>path {
    d: var(--home-icon) !important; /* Custom Discord icon */
}

[aria-selected="false"] div[class*="premiumLabel_"] > svg > path {
    fill: var(--blurple-500);
}

[class*="side_"] [class*="item_"] {
    padding-top: 6px;
    padding-bottom: 6px;
    margin-bottom: 2px;
    border-radius: 0;
}

[class*="side_"] [class*="item_"]:hover:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: var(--indicator-border-info) var(--indicator-unread-border);
}

[class*="side_"] [class*="item_"][class*="selected_"]:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    border-left: var(--indicator-border-info) var(--indicator-selected-border) !important;
}

[class*="side_"] [class*="item_"][class*="selected_"] {
    background: var(--indicator-selected-background) !important;
}

::selection {
    background-color: hsla(var(--indicator-selected), 0.35) !important;
    color: hsl(var(--indicator-selected-text)) !important;
}

[class*="userTag_"]:not([class*="nameTag_"]) [class*="userTagUsername_"]:before,
[class*="info_"][class*="nameTagSmall_"] [class*="discriminator_"]:before,
[class*="nameTag_"] > [class*="panelSubtextContainer_"] > [class*="subtext_"] > [class*="hoverRoll_"] > [class*="hovered_"]:before,
[id*="account-switch-account"] [class*="userMenuUsername_"] > [class*="userMenuText_"]:before,
[class*="username_"] [style="color: var(--header-primary);"]:not([class*="pronounsText_"]):before {
    content: "@";
}

[class*="userTag_"]:not([class*="nameTag_"]) [class*="userTagUsername_"],
[class*="info_"][class*="nameTagSmall_"] [class*="discriminator_"] {
    color: var(--text-muted);
}